/****************************************************
 * Magic Mirror                                      *
 * MMM-Binance CSS                                   *
 *                                                   *
 * By Duong Hong Anh                                 *
 * https://github.com/anhdhbn                        *
 *                                                   *
 * Edit this file ONLY if you know what you're doing *
 ****************************************************/

/**
 * Font configurations
 */
.MMM-Binance .x-small	{ font-size: 15px; line-height: 20px; }
.MMM-Binance .small	{ font-size: 20px; line-height: 25px; }
.MMM-Binance .medium	{ font-size: 30px; line-height: 35px; }
.MMM-Binance .large	{ font-size: 65px; line-height: 65px; }
.MMM-Binance .x-large	{ font-size: 75px; line-height: 75px; letter-spacing: -3px; }

.MMM-Binance .loading {
	color: #666666;
}

.MMM-Binance .negative { color: #FF5A44; }
.MMM-Binance .positive { color: #A3EA80; }
